
.swiper-image {
  height:300px;
  width:auto;
  border-radius: 20px;
  border: 3px solid #FFC300;
}
h1 {
  color: #FFD60A;
}
.swiper-background{
  background-color: #001D3D;
}
p {
  font-size: 30px;
}
.swiper-pagination-bullet {
  background-color: #FFC300 !important;
}
.swiper-button-next::after, .swiper-button-prev::after  {
  color: #FFC300;
}
@media only screen and (max-width: 450px) {
  .swiper-image{
    height: 200px;
    width: auto;
  }
  .p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 530px) {
  .swiper-button-next::after  {
    display: none;
  }
  .swiper-button-prev::after {
    display: none;
  }
}